# Use to set a custom valkey audit stream expiration (MINID)
# auditStreamRetention: 30d

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: "mdai-operator-controller-manager"

deployment:
  name: mdai-gateway
  replicas: 1
  containerPort: 8081
  tolerations: []
  nodeSelector: {}
  affinity: {}
  annotations: {}

otelExporterOtlpEndpoint: http://mdai-collector-service.mdai.svc.cluster.local:4318
natsUrl: nats://mdai-nats.mdai.svc.cluster.local:4222

image:
  repository: public.ecr.aws/p3k6k6h3/mdai-gateway
  # tag: 0.0.1

service:
  name: mdai-gateway
  replicas: 1
  port: 8081
  targetPort: 8081
  type: ClusterIP
